/* Global CSS */
body{
  margin: 0;
  font-family: "Roboto",sans-serif;
  --webkit-font-smoothing: "Roboto",sans-serif;
  --moz-osx-font-smoothing: "Roboto",sans-serif;
  font-style: normal;
}
img{
  height: 100%;
  width: 100%;
}
h1, h2, h3, h4, h5, h6,p{
  margin: 0;
}

:root{
  --primary:rgb(18, 18, 18);
  --secondary:rgb(48, 71, 94);
  --tertiary:rgb(240, 84, 84);
  --quaternary:rgb(245, 245, 245);
}
/* Global CSS Ends Here */
/* Main Headings */
h1{
  font-size:56px;
  font-weight: 700;
  line-height: 67px;
}
h2{
  font-size:48px;
  font-weight: 700;
  line-height: 58px;
}
h3{
  font-size:36px;
  font-weight: 700;
  line-height: 34px;
}
h4{
  font-size:24px;
  font-weight: 700;
  line-height: 30px
}
h5{
  font-size:18px;
  font-weight: 700;
  line-height: 26px;
}
.section-division{
  height: 75px;
  background-color: var(--quaternary);
}
/* Main HEadings Ends Here */

/* NavBar CSS */
.navbar--section--box{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 400;
  display:grid;
  justify-content: space-between; 
  grid-template-columns: 200px 600px;
  padding-left: 7.5%;
  padding-right: 7.5%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--secondary);
  background-color: var(--quaternary);
  color: var(--primary);
}

/* NavBar CSS Ends Here */

/* Profile CSS Here */
.section--profile{
  border-color: var(--quaternary);
  display: flex;
  align-items: center;
  height: 800px;
  background-image: url(./Components/PictureAndIcons/profileBg.jpg);
  background-size: cover;
  margin-top: 110px;
}
.section--profile--box{
  width: 100%;
  display:grid;
  grid-template-columns: auto auto auto auto;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 100px;
  box-shadow: 5px 5px  var(--tertiary)
}
.section--profile--profilepic{
  display: flex;
  align-items: center;
  justify-content: center;
}
.section--profile--img{
  border-style: solid;
  border-radius: 100%;
  border-color: var(--tertiary);
  padding: 15px;
  height: 300px;
  width: 300px;
}
.section--profile--info{
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left:10px;
}
.section--profile--info-name{
  color: var(--primary);
  margin-bottom: 35px;
}
.section--profile--info-position{
  color: var(--secondary);
  margin-bottom: 5px;

}
.section--profile--info-email{
  color: var(--secondary);
}
.section--profile--link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.section--profile--link--icon{
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}
.section--profile--link--icon:hover{
  transform: scale(1.25)
}
.section--profile--link--img{
  width: 60px;
}
/* Profile CSS Ends */
/* Motto Css Here */
.motto-section-box{
  background-color: var(--primary);
  padding: 7.5% 5% 7.5% 5% ;
}
.motto-section-title{
  display: flex;
  justify-content: end;
}
.motto-content{
  color: var(--quaternary);
  text-align: center;
  line-height: 1.6;
  margin-bottom: 25px;
}
.motto-title{
  color: var(--tertiary);
}
/* Motto CSS Ends */
/*Work CSS Here*/
.section-work{
  background-color: var(--quaternary);

}
.section-work-title{
  background-color: var(--secondary);
  color: var(--quaternary);
  padding:2%;
}
.section-work-box{
  padding: 5% 1.5% 5% 1.5%;
  display: grid;
  grid-template-columns: auto auto;
}
.section-workitem-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-workitem-content{

  background-color: var(--primary);
  padding: 5% 5% 5% 10%;
  height: 100%;
  border-radius:25px;
  width: 60%;
}

.section-workitem-details{
  padding-left: 5%;
}
.section-workitem-title{
  color: var(--quaternary);
  margin-bottom: 5px;
}
.section-workitem-position{
  color: var(--tertiary);
}
.section-workitem-location,.section-workitem-year{
  color: var(--secondary);
}
/*Work CSS Ends*/
/*Euc CSS Starts Here*/
.section-educ-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.section-educ-title{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  height: 100%;
  color: var(--tertiary);
}
.section-educ-content{
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary);
  height: 100%;
  color: var(--quaternary);
  padding-left: 5%;

}
.section-educ-text-place{
  margin-top: 15px;

}
/*Educ CSS Ends*/

/* Others CSS start */
.section-others{
  height: 100%;
  padding: 5%;
  background-color: var(--secondary);
}
.section-others-title{
  color: var(--quaternary);
}
.section-others-box{
  margin-top: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section-otheritem-box{
  background-color: var(--primary);
  color: var(--quaternary);
  padding:2%;
  margin: 25px;
  border-radius: 5px;
  box-shadow: 3px 5px  var(--quaternary);
  height: 140px;
  
}
.section-otheritem-content{
  padding: 2% 2% 2% 7%;
 
}
.section-otheritem-title{
  color: var(--tertiary);
  margin-bottom: 15px;
  
}
.section-otheritem-details{
  margin-left: 20px;
}
.section-otheritem-apps{
  margin-top: 5px;
  margin-left: 10px;

}
/* Others CSS ends */
/* end css starts */
.section-end{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  color: var(--quaternary);
  background-color: var(--primary);

}
/* end ends */




/*--------------------Media Queries Section--------------------*/
@media all and (min-width:768px)and (max-width:1030px){
  h1{
    font-size:50px;
    font-weight: 700;
    line-height: 67px;
  }
  h2{
    font-size:42px;
    font-weight: 700;
    line-height: 58px;
  }
  h3{
    font-size:30px;
    font-weight: 700;
    line-height: 34px;
  }
  h4{
    font-size:20px;
    font-weight: 700;
    line-height: 30px
  }
  h5{
    font-size:14px;
    font-weight: 700;
    line-height: 26px;
  }
/*--------------------Profile Section--------------------*/
.section--profile--box{
  display:grid;
  grid-template-columns: auto auto;
}
.section--profile--profilepic{
  margin-bottom: 20px;
  margin-right: 10px;
}
.section--profile--info{
  grid-row: 1/span 2;
  justify-content: center;
}
.section--profile--link{
  grid-column: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/*--------------------Profile Section--------------------*/
/*--------------------Work Section--------------------*/
.section-work-box{
  padding: 3% 1.5% 3% 1.5%;
  display: grid;
  grid-template-columns: auto;
}
.section-workitem-content{
  background-color: var(--primary);
  padding:3%;
  height: 60%;
  margin-bottom: 20px;
  width: 60%;
}
/*--------------------Work Section--------------------*/
}



@media all and (max-width:767px){
  h1{
    font-size:46px;
    font-weight: 700;
    line-height: 67px;
  }
  h2{
    font-size:38px;
    font-weight: 700;
    line-height: 58px;
  }
  h3{
    font-size:24px;
    font-weight: 700;
    line-height: 34px;
  }
  h4{
    font-size:20px;
    font-weight: 700;
    line-height: 30px
  }
  h5{
    font-size:12px;
    font-weight: 700;
    line-height: 26px;
  }
/*--------------------NavBar Section--------------------*/
.navbar--section--box{
  display:grid;
  grid-template-columns: 1fr;
  padding:10px
}
.navbar--section--div{
  width: 100%;
}
/*--------------------NavBar Section--------------------*/
/*--------------------Profile Section--------------------*/
.section--profile{
  border-color: var(--quaternary);
  display: flex;
  align-items: center;
  height: 800px;
  margin-top:78px;
  height: 100%;
  padding-bottom: 20%;
  
}
.section--profile--box{
  display: flex;
  flex-direction: column;
  padding-top: 25%;
}
.section--profile--profilepic{
  margin-bottom: 10px;
}
.section--profile--img{
  border-style: solid;
  border-radius: 100%;
  border-color: var(--tertiary);
  padding: 15px;
  width: 200px;
  height: 200px;
}

.section--profile--info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.section--profile--link{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/*--------------------Profile Section--------------------*/
/*--------------------Work Section--------------------*/
.section-work-box{
  padding: 3% 1.5% 3% 1.5%;
  display: grid;
  grid-template-columns: auto;
}
.section-workitem-content{
  background-color: var(--primary);
  padding:3%;
  height: 60%;
  margin-bottom: 20px;
  width: 60%;
}
/*--------------------Work Section--------------------*/
/*--------------------Others Section--------------------*/

/*--------------------Others Section--------------------*/
.section-others-box{
  margin-top: 35px;
  display: grid;
  grid-template-columns: 1fr;
}

.section-educ-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 200px;
}
}
/*--------------------Media Queries Section--------------------*/